In [1]:
!pip install splinter

Requirement already satisfied: splinter in /Users/sunitharamakrishnan/anaconda3/envs/PythonData/lib/python3.6/site-packages
Requirement already satisfied: selenium>=3.4.3 in /Users/sunitharamakrishnan/anaconda3/envs/PythonData/lib/python3.6/site-packages (from splinter)

In [2]:
# Dependencies
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
from splinter import Browser
from bs4 import BeautifulSoup

import requests
import pymongo
import re

In [3]:
from splinter import Browser
executable_path = {'executable_path':'/usr/local/bin/chromedriver'}

browser = Browser('chrome', **executable_path, headless=False )

# NASA Mars News
  Scrape the "NASA Mars News Site"(http://mars.nasa.gov/news/) and collect the latest News Title and Paragragh Text. 
     Assign the text to variables that you can reference later.
     
## Example:
news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [4]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [5]:
# Define database and collection
db = client.nasa_news
collection = db.misson_to_mars

In [6]:
# Retrieve page with the requests module
url = 'http://mars.nasa.gov/news/'
response = requests.get(url)

In [7]:
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [8]:
# Print formatted version of the soup, this will give the entire page of the url to get all the details
#print(soup.prettify())

In [9]:
 
# on a new web browser the url is automatically launched with the chrome driver, please observe. very awesome!
#Automated Selenium, chrome drive and splinter does this automation.

 
url = 'http://mars.nasa.gov/news/'
browser.visit(url)

In [10]:
#collect the latest News Title and assign it to a variable
news_title = soup.find('div', class_='content_title')
news_title = news_title.a.text.strip()

print('-----------------')
print(news_title)

-----------------
Nearly a Decade After Mars Phoenix Landed, Another Look

In [11]:
#Get the latest news paragraph and assign it to variable
news_p = soup.find('div', class_='rollover_description')
news_p = news_p.text.strip()

print(news_p)

A recent view from Mars orbit of the site where NASA's Phoenix Mars mission landed on far-northern Mars nearly a decade ago captures changes.

# JPL Mars Space Images - Featured Image
Visit the url for JPL's Featured Space Image here"https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars".

Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.

Make sure to find the image url to the full size .jpg image.

Make sure to save a complete url string for this image.

## Example:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'

In [12]:
#URL of page to be scraped
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [13]:
# Retrieve page with the requests module
response = requests.get(url)

In [14]:
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [15]:
# Print formatted version of the soup, this will give the entire page of the url to get all the details
#print(soup.prettify())

In [16]:
href = soup.find('a', class_='button fancybox')
print(href)

<a class="button fancybox" data-description="This geological map from NASA's New Horizons covers a portion of Pluto's surface and includes the vast nitrogen-ice plain informally named Sputnik Planum and surrounding terrain." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA20465_ip.jpg" data-link="/spaceimages/details.php?id=PIA20465" data-title="Putting Pluto's Geology on the Map" id="full_image">
					FULL IMAGE
				  </a>

In [17]:
href['data-fancybox-href']

'/spaceimages/images/mediumsize/PIA20465_ip.jpg'

In [18]:
featured_image_url = 'https://www.jpl.nasa.gov/' + href['data-fancybox-href']
print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA20465_ip.jpg

# Mars Weather
Visit the Mars Weather twitter account here"https://twitter.com/marswxreport?lang=en" and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called mars_weather.
## Example:
mars_weather = 'Sol 1801 (Aug 30, 2017), Sunny, high -21C/-5F, low -80C/-112F, pressure at 8.82 hPa, daylight 06:09-17:55'

In [19]:
#URL of page to be scraped
url = 'https://twitter.com/marswxreport?lang=en'

In [20]:
# Retrieve page with the requests module
response = requests.get(url)

In [21]:
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [22]:
# Print formatted version of the soup, this will give the entire page of the url to get all the details
#print(soup.prettify())

In [23]:
mars_weather = soup.find('div',  class_="js-tweet-text-container").get_text()
print(mars_weather)

Sol 1970 (Feb 20, 2018), Sunny, high -16C/3F, low -77C/-106F, pressure at 7.32 hPa, daylight 05:38-17:26

# Mars Facts
Visit the Mars Facts webpage here"https://space-facts.com/mars/" and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

Use Pandas to convert the data to a HTML table string.
## Scraping with Pandas

In [24]:
import pandas as pd

In [25]:
#We can use the read_html function in Pandas to automatically scrape any tabular data from a page.

In [26]:
url = 'https://space-facts.com/mars/'

In [27]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [28]:
#What we get in return is a list of dataframes for any tabular data that Pandas found.

In [29]:
type(tables)

list

In [30]:
#We can slice off any of those dataframes that we want using normal indexing.

In [31]:
df = tables[0]
df.columns = ['Description', 'Value' ]
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [32]:
#Set the index to the Description column

In [33]:
df.set_index('Description', inplace=True)
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [34]:
df.loc['Recorded By:']

Value    Egyptian astronomers
Name: Recorded By:, dtype: object

# DataFrames as HTML

In [35]:
#Pandas also had a to_html method that we can use to generate HTML tables from DataFrames.

In [36]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [37]:
#You may have to strip unwanted newlines to clean up the table.

In [38]:
facts_table = html_table.replace('\n', '')
facts_table
#type(facts_table)

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [39]:
#You can also save the table directly to a file.

In [40]:
df.to_html('table.html')

In [41]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html   #Wow! very cool

# Mars Hemisperes
Visit the USGS Astrogeology site here"https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars" to obtain high resolution images for each of Mar's hemispheres.

You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

Save both the image url string for the full resolution hemipshere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

## Example:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]

In [42]:
# URL of page to be scraped
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
 
browser.visit(url)

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

hemisphere_image_urls = []
results = soup.find_all('a', class_='itemLink product-item')
for result in results:
    print("=================")
    
    hemisphere_title = result.find('h3').get_text()
    print(hemisphere_title)
    
    new_url = "https://astrogeology.usgs.gov" + result['href']
    browser.visit(new_url)
    print(new_url)
    
    # Retrieve page with the requests module
    response2 = requests.get(new_url)
 
    browser2 = Browser('chrome', headless=False)
    soup2 = BeautifulSoup(response2.text, 'lxml')
    
    next_page = soup2.find('div', class_='downloads')
    #print(next_page)
    
    
    link = next_page.find('a')['href']
    #print(link)
    hemisphere_url = link
    #print("This is ")
    print(hemisphere_url)
    
    hemisphere_image_urls.append({'title': hemisphere_title, 'img_url': hemisphere_url})

print("=====================================================")
print(hemisphere_image_urls)
print("=====================================================")

=================
Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
=================
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
=================
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
=================
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg
=====================================================
[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]
=====================================================

In [43]:
hemisphere_image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

# Step 2 - MongoDB and Flask Application
Use MongoDB with Flask templating to create a new HTML page that displays all of the information that was scraped from the URLs above.

Start by converting your Jupyter notebook into a Python script called scrape_mars.py with a function called scrape that will execute all of your scraping code from above and return one Python dictionary containing all of the scraped data.

Next, create a route called /scrape that will import your scrape_mars.py script and call your scrape function.

Store the return value in Mongo as a Python dictionary.
Create a root route / that will query your Mongo database and pass the mars data into an HTML template to display the data.

Create a template HTML file called index.html that will take the mars data dictionary and display all of the data in the appropriate HTML elements. Use the following as a guide for what the final product should look like, but feel free to create your own design.

In [44]:
# Create a dictionary with all of the above scraped variables 
mars_scrape_data = {'hemispheres': hemisphere_image_urls,
                    'facts': facts_table,
                    'mars_weather': mars_weather,
                    "featured_image_url": featured_image_url,
                    'news_title': news_title,
                    'news_text': news_p}

mars_scrape_data

{'facts': '<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>',
 'featured_image_url': 'https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA20465_ip.jpg',
 'hemispheres': [{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
   'title': 'Schiaparelli Hemisphere Enhanced'},
  {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}],
 'mars_weather': '\nSol 1970 (Feb 20, 2018), Sunny, high -16C/3F, low -77C/-106F, pressure at 7.32 hPa, daylight 05:38-17:26\n',
 'news_text': "A recent view from Mars orbit of the site where NASA's Phoenix Mars mission landed on far-northern Mars nearly a decade ago captures changes.",
 'news_title': 'Nearly a Decade After Mars Phoenix Landed, Another Look'}

In [45]:
type(mars_scrape_data)

dict

In [46]:
mars_scrape_data["news_text"]

"A recent view from Mars orbit of the site where NASA's Phoenix Mars mission landed on far-northern Mars nearly a decade ago captures changes."

In [47]:
mars_scrape_data["hemispheres"][-1]

{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
 'title': 'Valles Marineris Hemisphere Enhanced'}